
/* importer la feuille de style elements.css ici */

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
}

.centrer {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

h1 {
  color: rgba(3, 0, 185, 0.973);
}

h2 {
  color: red;
  font-size: 25px;
}

h3 {
  text-align: center;
  color: rgb(121, 105, 105);
  font-size: 20px;
}

body {
  margin: 0;
  padding: 0;
}

.nav {
  display: block;
  width: fit-content;
}

.center {
  margin: 0 auto;
}

nav {
  font-family: 'Merienda', cursive;
  font-size: 60px;
}

p {
  color: black;
  font-size: 18px;
  font-family: 'Sorts Mill Goudy', serif;
}

.titre-large {
  font-size: 40px;
}

body {
  background-image: url("../assets/images/images2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  nav-right: auto;
  display: inline;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid  rgb(169, 188, 224));
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: rgb(114, 159, 243);
}

.blue {
  color: blue;
}